.highlights-image {
  background-image: url(./assets/image--3.png);
  background-size: cover;
}

.highlights-item {
  padding: 10px
}

.highlights-title-container {
  height: 80vh;
  overflow: hidden;    
  position: absolute;
  right: 0px;
}

.highlights-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 50px;
  font-weight: bold;
}

.highlights-line {
  width: 5px;
  height: 50vh;
  margin-top: 20px;
  margin-left: 25px;
}

.highlights-list {
  padding-right: 60px;
}

.highlights-section {
  position: relative;
}

.highlights-logo-container {
  display: flex;
  position: absolute;
  bottom: 100px;
  right: 150px;

}

.highlights-logo-container img {
  max-height: 80px;
  margin: 0 5px;
}

.highlights-hide {
  opacity: 0;
}

.highlights-show {
  animation: fadeInAnimation ease 1s; 
}