.experience-image {
    background-image: url(./assets/image--2.png);
    background-size: cover;
}

.experience-line {
    width: 100%;
    height: 3px;
    transform: translateY(165px);
    margin-left: 20px;
}

.experience-list {
    margin-top: 200px;
}

.experience-title-container {
    display: inline-flex;
    width: 100%;
    font-size: 60px;
}

.experience-title-container p {
    margin: 0;
    transform: translateY(120px);
}

.experience-wrapper {
    position: relative;
}

.purple-box--2 {
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
}